@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/passionone/v20/PbynFmL8HhTPqbjUzux3JEuf9lvQ6Q.woff2) format('woff2');
    unicode-range: U +0100 -02BA, U +02BD -02C5, U +02C7 -02CC, U +02CE -02D7, U +02DD -02FF, U +0304, U +0308, U +0329, U +1D00 -1DBF, U +1E00 -1E9F, U +1EF2 -1EFF, U +2020, U +20A0 -20AB, U +20AD -20C0, U +2113, U +2C60 -2C7F, U + A720-A7FF;
}


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-size: 10vh;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

header > p {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 50px;

}

header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

main{
    font-family: var(--fonte3);
    font-size: 1.5em;
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 1.5em;
    padding-left: 50px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

footer{  
    text-align: center;
    color: white;
    background-color: black;

}
